stages:
  - build
  - deploy
  - retag
  - deploy-production

retag:production:
  stage: retag
  tags:
    - docker
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:cli
  before_script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWD
  script:
    - docker pull $DOCKER_REPO/$CI_PROJECT_NAME:staging
    - docker tag $DOCKER_REPO/$CI_PROJECT_NAME:staging $DOCKER_REPO/$CI_PROJECT_NAME:$CI_ENVIRONMENT_SLUG
    - docker push $DOCKER_REPO/$CI_PROJECT_NAME:$CI_ENVIRONMENT_SLUG
  environment:
    name: production
    url: https://$DOMAIN
  when: manual
  only:
    - master
    - main
  needs: ["build:all-platforms"]

include:
  # build and push feature branches to local gitlab registry
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.5.0
    rules:
      - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

  # build and push staging on main branch
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.5.0
    inputs:
      docker-user: $DOCKER_USER
      docker-passwd: $DOCKER_PASSWD
      docker-registry: docker.io
      docker-tag: $DOCKER_REPO/$CI_PROJECT_NAME:staging
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

  # deploy staging with autostop after 24 hours
  - component: $CI_SERVER_FQDN/infra/templates/docker-deploy@0.5.0
    inputs:
      needs: build:all-platforms
      env: staging
      domain: $STAGING_DOMAIN
      folder-name: staging-$CI_PROJECT_NAME
      autostop-duration: 24 hours
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    
  # deploy production after retag of stating
  - component: $CI_SERVER_FQDN/infra/templates/docker-deploy@0.5.0
    inputs:
      needs: retag:production
      env: production
      stage: deploy-production
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
