stages:
  - build
  - deploy
  - retag-production
  - deploy-production

include:
  # build and push feature branches to local gitlab registry
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.6.1
    rules:
      - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

  # build and push staging on main branch
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.6.1
    inputs:
      docker-user: $DOCKER_USER
      docker-passwd: $DOCKER_PASSWD
      docker-registry: docker.io
      docker-tag: $DOCKER_REPO/$CI_PROJECT_NAME:staging
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

  # deploy staging with autostop after 24 hours
  - component: $CI_SERVER_FQDN/infra/templates/docker-deploy@0.6.1
    inputs:
      needs: build:all-platforms
      env: staging
      domain: $STAGING_DOMAIN
      folder-name: staging-$CI_PROJECT_NAME
      autostop-duration: 24 hours
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  
  # retag production
  - component: $CI_SERVER_FQDN/infra/templates/docker-manual-retag@0.6.1
    inputs:
      needs: build:all-platforms
      stage: retag-production
      docker-user: $DOCKER_USER
      docker-passwd: $DOCKER_PASSWD
      docker-registry: docker.io
      docker-image-tag: $DOCKER_REPO/$CI_PROJECT_NAME:staging
      docker-image-new-tag: $DOCKER_REPO/$CI_PROJECT_NAME:production
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

  # deploy production after retag of stating
  - component: $CI_SERVER_FQDN/infra/templates/docker-deploy@0.6.1
    inputs:
      needs: retag-production
      env: production
      stage: deploy-production
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
